# Welcome to Advent of Code for the Year 2025

## aoc-2.1
You get inside and take the elevator to its only other stop: the gift shop. "Thank you for visiting the North Pole!" gleefully exclaims a nearby sign. You aren't sure who is even allowed to visit the North Pole, but you know you can access the lobby through here, and from there you can access the rest of the North Pole base.

As you make your way through the surprisingly extensive selection, one of the clerks recognizes you and asks for your help.

As it turns out, one of the younger Elves was playing on a gift shop computer and managed to add a whole bunch of invalid product IDs to their gift shop database! Surely, it would be no trouble for you to identify the invalid product IDs for them, right?

They've even checked most of the product ID ranges already; they only have a few product ID ranges (your puzzle input) that you'll need to check. For example:

11-22,95-115,998-1012,1188511880-1188511890,222220-222224,
1698522-1698528,446443-446449,38593856-38593862,565653-565659,
824824821-824824827,2121212118-2121212124
(The ID ranges are wrapped here for legibility; in your input, they appear on a single long line.)

The ranges are separated by commas (,); each range gives its first ID and last ID separated by a dash (-).

Since the young Elf was just doing silly patterns, you can find the invalid IDs by looking for any ID which is made only of some sequence of digits repeated twice. So, 55 (5 twice), 6464 (64 twice), and 123123 (123 twice) would all be invalid IDs.

None of the numbers have leading zeroes; 0101 isn't an ID at all. (101 is a valid ID that you would ignore.)

Your job is to find all of the invalid IDs that appear in the given ranges. In the above example:

11-22 has two invalid IDs, 11 and 22.
95-115 has one invalid ID, 99.
998-1012 has one invalid ID, 1010.
1188511880-1188511890 has one invalid ID, 1188511885.
222220-222224 has one invalid ID, 222222.
1698522-1698528 contains no invalid IDs.
446443-446449 has one invalid ID, 446446.
38593856-38593862 has one invalid ID, 38593859.
The rest of the ranges contain no invalid IDs.
Adding up all the invalid IDs in this example produces 1227775554.

What do you get if you add up all of the invalid IDs?

### Input

In [12]:
path = '/mnt/c/Users/guspa/Desktop/python_homework/data/aoc25/aoc25_2.1.txt'
mode = 'r'

database = []
item = ''

with open(path, mode) as file:
    for line in file.readlines():
        line = line.strip()
        
        for position in range(len(line)):

            if line[position] == ',':
                database.append(item)
                item = ''

            elif position == len(line)-1:
                item += line[position]
                database.append(item)
                item = ''

            else:
                item += line[position]

print(database)

['19391-47353', '9354357-9434558', '4646427538-4646497433', '273-830', '612658-674925', '6639011-6699773', '4426384-4463095', '527495356-527575097', '22323258-22422396', '412175-431622', '492524-611114', '77-122', '992964846-993029776', '165081-338962', '925961-994113', '7967153617-7967231799', '71518058-71542434', '64164836-64292066', '4495586-4655083', '2-17', '432139-454960', '4645-14066', '6073872-6232058', '9999984021-10000017929', '704216-909374', '48425929-48543963', '52767-94156', '26-76', '1252-3919', '123-228']

### Functions

In [2]:
def get_range(s):
    
    s1 = ''
    s2 = ''
    dash = ''

    for character in range(len(s)):
        if dash == '':
            #print('con1')
            
            if s[character] == '-':
                #print('con1a')
                dash += '-'

            else:
                #print('con1b')
                s1 += s[character]
        
        else:
            #print('con2')
            s2 += s[character]

        if character == len(s)-1:
            #print('clean')
            dash = ''

    return int(s1), int(s2)+1

get_range('11-22') # a, b+1

(11, 23)

In [8]:
def invalid_mirror(integer):
    
    pattern1 = ''
    pattern2 = ''

    if len(str(integer)) %2 == 0:
        half = len(str(integer)) // 2
        
        for position in range(half): # 0, 1, 2
            pattern1 += str(integer)[position]

        for position in range(half,len(str(integer))): # 3, 4, 5
            pattern2 += str(integer)[position]

        if pattern1 == pattern2:

            return integer

        else: 
            return False
    else:
        return False

invalid_mirror(432432)

432432

### Programme

In [13]:
invalid_ID = 0

for item in database:

    for value in range(get_range(item)[0], get_range(item)[1]):

        if value == invalid_mirror(value):
            invalid_ID += value
        else:
            continue

## Evaluation of Results

In [14]:
print('sum of invalid IDs:', invalid_ID)

sum of invalid IDs: 24747430309

### Deconstruction of the Example

In [15]:
# database of examaple ranges
database = ['11-22', '95-115', '998-1012', '1188511880-1188511890', '222220-222224', '1698522-1698528', '446443-446449', '38593856-38593862', '565653-565659', '824824821-824824827', '2121212118-2121212124']

# accumulator variable for sums of invalid ID numbers
invalid_ID = 0

# for each item in databse, do
for item in database:
    # for each value within a range which starts with first part of the ID and ends with the second part of the ID including
    for value in range(get_range(item)[0], get_range(item)[1]):
        # if value is equal to value returned from a function which checks if the value could be invalid, do
        if value == invalid_mirror(value):
            print(value)
            invalid_ID += value # add the value to the accumualator variable
        # is not equal, do
        else:
            continue # go into another iteration (new number within the interval)
    
# print the sum of invalid IDs
print('sum of invalid IDs:', invalid_ID)

11
22
99
1010
1188511885
222222
446446
38593859
sum of invalid IDs: 1227775554

### Answer
24747430309