# Welcome to Advent of Code for the Year 2025

## aoc25-2.2
The clerk quickly discovers that there are still invalid IDs in the ranges in your list. Maybe the young Elf was doing other silly patterns as well?

Now, an ID is invalid if it is made only of some sequence of digits repeated at least twice. So, 12341234 (1234 two times), 123123123 (123 three times), 1212121212 (12 five times), and 1111111 (1 seven times) are all invalid IDs.

From the same example as before:

11-22 still has two invalid IDs, 11 and 22.
95-115 now has two invalid IDs, 99 and 111.
998-1012 now has two invalid IDs, 999 and 1010.
1188511880-1188511890 still has one invalid ID, 1188511885.
222220-222224 still has one invalid ID, 222222.
1698522-1698528 still contains no invalid IDs.
446443-446449 still has one invalid ID, 446446.
38593856-38593862 still has one invalid ID, 38593859.
565653-565659 now has one invalid ID, 565656.
824824821-824824827 now has one invalid ID, 824824824.
2121212118-2121212124 now has one invalid ID, 2121212121.
Adding up all the invalid IDs in this example produces 4174379265.

What do you get if you add up all of the invalid IDs using these new rules?

### Input

In [ ]:
path = '/mnt/c/Users/guspa/Desktop/python_homework/data/aoc25/aoc25_2.1.txt'
mode = 'r'

database = []
item = ''

with open(path, mode) as file:
    for line in file.readlines():
        line = line.strip()
        
        for position in range(len(line)):

            if line[position] == ',':
                database.append(item)
                item = ''

            elif position == len(line)-1:
                item += line[position]
                database.append(item)
                item = ''

            else:
                item += line[position]

print(database)

### Functions

In [ ]:
def get_range(s):
    
    s1 = ''
    s2 = ''
    dash = ''

    for character in range(len(s)):
        if dash == '':
            #print('con1')
            
            if s[character] == '-':
                #print('con1a')
                dash += '-'

            else:
                #print('con1b')
                s1 += s[character]
        
        else:
            #print('con2')
            s2 += s[character]

        if character == len(s)-1:
            #print('clean')
            dash = ''

    return int(s1), int(s2)+1

get_range('11-22') # a, b+1

In [ ]:
def invalid_repetition(integer): # e.g. 123123123
    # setup variables
    s = str(integer)
    s_length = len(s) # 9
    code_check = ''

    # for loop going through every digit
    for digit in range(s_length): # e.g 0-8

        # buil a sequence that might repeat within an integer
        sequence = int(s[0:(1+digit)]) #e.g 1; 12; 123
        sequence_length = len(str(sequence)) #e.g 1; 2; 3

        # test if a sequence length could divide the length of an integer 
        if s_length % sequence_length != 0: # 0; continue; 0
            continue
        
        # get number of repetitions
        repetitions = s_length // sequence_length #e.g 9, 3

        # skip an integer which has repetition less than 2 (at least 1 repetition)
        if repetitions < 2: #e.g. 9, 3
            continue
        
        # compares integer with a code which is derived as a result of its division by a found sequence
        if integer % sequence == 0: 
            # get result of integer division by a sequence
            code = integer // sequence #e.g 123123123; 1001001
            pattern = '1' + '0' * (sequence_length-1) #e.g. 1; 100
            code_check = pattern * (repetitions-1) + '1' #e.g. 111111111; 1001001

            # return integer once code and built code match
            if str(code) == code_check:
                return integer

        else:
            continue

    return False

invalid_repetition(123123123)

### Programme

In [ ]:
invalid_ID = 0

for item in database:

    for value in range(get_range(item)[0], get_range(item)[1]):

        if value == invalid_repetition(value):
            invalid_ID += value
        else:
            continue

### Evaluation of Results

In [ ]:
print('sum of invalid IDs:', invalid_ID)

### Deconstruction of the Example

In [ ]:
# database of examaple ranges
database = ['11-22', '95-115', '998-1012', '1188511880-1188511890', '222220-222224', '1698522-1698528', '446443-446449', '38593856-38593862', '565653-565659', '824824821-824824827', '2121212118-2121212124']

# accumulator variable for sums of invalid ID numbers
invalid_ID = 0

# for each item in databse, do
for item in database:
    # for each value within a range which starts with first part of the ID and ends with the second part of the ID including
    for value in range(get_range(item)[0], get_range(item)[1]):
        # if value is equal to value returned from a function which checks if the value could be invalid, do
        if value == invalid_repetition(value):
            print(value)
            invalid_ID += value # add the value to the accumualator variable
        # is not equal, do
        else:
            continue # go into another iteration (new number within the interval)
    
# print the sum of invalid IDs
print('sum of invalid IDs:', invalid_ID)

### Answer
30962646823