# Dictionaries

## Theory

In [37]:
# dictionary - key: value, (pair)
student_numbers = { 'Bioscience Technology': 16, 
                    'Computational Biology': 12,
                    'Post-Genomic Biology': 20,
                    'Ecology and Environmental Management': 3,
                    'Maths in the Living Environment': 0
                  }

# len()
print('#students:', student_numbers)
print('length:', len(student_numbers))
print()

# fetch via dic[key]
print('#students in Bioscience Technology:', student_numbers['Bioscience Technology'])
print('#students in Post-Genomic Biology:', student_numbers['Post-Genomic Biology'])
print() 

# fetch via .get()
print('#students in Bioscience Technology:', student_numbers.get('Bioscience Technology')) # alternatively
print()

# print keys
print(student_numbers.keys())
print()

# print values
print(student_numbers.values())
print()

# print key: value pair
print(student_numbers.items())

#students: {'Bioscience Technology': 16, 'Computational Biology': 12, 'Post-Genomic Biology': 20, 'Ecology and Environmental Management': 3, 'Maths in the Living Environment': 0}
length: 5

#students in Bioscience Technology: 16
#students in Post-Genomic Biology: 20

#students in Bioscience Technology: 16

dict_keys(['Bioscience Technology', 'Computational Biology', 'Post-Genomic Biology', 'Ecology and Environmental Management', 'Maths in the Living Environment'])

dict_values([16, 12, 20, 3, 0])

dict_items([('Bioscience Technology', 16), ('Computational Biology', 12), ('Post-Genomic Biology', 20), ('Ecology and Environmental Management', 3), ('Maths in the Living Environment', 0)])

In [38]:
# replace/insert a new key: value pair via dic[key] = value
student_numbers['Bioscience Technology'] = 2
print('student_numbers is now:', student_numbers)
print()

# replace/insert a new key: value pari via .update()
student_numbers.update({'Maths in the Living Environment': 120})
print('student_numbers is now:', student_numbers)

student_numbers is now: {'Bioscience Technology': 2, 'Computational Biology': 12, 'Post-Genomic Biology': 20, 'Ecology and Environmental Management': 3, 'Maths in the Living Environment': 0}

student_numbers is now: {'Bioscience Technology': 2, 'Computational Biology': 12, 'Post-Genomic Biology': 20, 'Ecology and Environmental Management': 3, 'Maths in the Living Environment': 120}

In [36]:
# dictionary
temperatures = {
    'Monday': 22,
    'Tuesday': 24,
    'Wednesday': 21,
    'Thursday': 23,
    'Friday': 25
}


print('temperatures is initially:', temperatures)
print()

# replace/insert a new key: value pair via dic[key] = value
temperatures['Saturday'] = 24
print('temperatures has become:', temperatures)
print()

# replace/insert a new key: value pari via .update()
temperatures.update({'Sunday': 26})
print('temperatures has become: ', temperatures)

temperatures is initially: {'Monday': 22, 'Tuesday': 24, 'Wednesday': 21, 'Thursday': 23, 'Friday': 25}

temperatures has become: {'Monday': 22, 'Tuesday': 24, 'Wednesday': 21, 'Thursday': 23, 'Friday': 25, 'Saturday': 24}

temperatures has become:  {'Monday': 22, 'Tuesday': 24, 'Wednesday': 21, 'Thursday': 23, 'Friday': 25, 'Saturday': 24, 'Sunday': 26}

In [ ]:
temperatures = {
    'Monday': 22,
    'Tuesday': 24,
    'Wednesday': 21,
    'Thursday': 23,
    'Friday': 25,
    'Everyday': 49    
}
print('temperature before removing Everyday:', temperatures)

# delete last entry
del temperatures['Everyday']
print('temperature after removing Everyday:', temperatures)

## Miscellaneous

In [9]:
# list
some_list = [4, 3, 8, 9]

# dictionary
some_dict = {
    0: 4,
    1: 3,
    2: 8,
    3: [1, 2, 3]
}

print(some_dict[3]) # access
print(some_dict[3][1]) # specific access

[1, 2, 3]
2

In [20]:
# dictionaries keep order of keys as they were added, but in certain versions of python it was not the case, thus this could change and we should not rely on it
shopping_list = {
    # first part is called a 'key', the second is called a 'value'
    'olives': 2, # string or integer: anything,
    'bread': 1,
    'apple': 3
}

shopping_list['olives']
list(shopping_list.keys())[0] # accessing the first key

'olives'

## Exercises

In [26]:
# Fill in the blanks so that the program below produces the indicated output:
# grades = {'Juan': {'Maths': 2},
#           'John': {'History': 1, 'Biology': 3},
#           'Gianni': {'Biology': 1}}

# grades['Juan'][______] = 2
# grades['Juan'][______] = 1

# grades[______]['Maths'] = 1

# grades[______]['History'] = 4
# grades[______][______] = 3

# print(grades)

#{'Juan': {'Maths': 2, 'History': 2, 'Biology': 1}, 'John': {'History': 1, 'Biology': 3, 'Maths': 1}, 'Gianni': {'Biology': 1, 'History': 4, 'Maths': 3}}<<<

# BEWARE: duplicated dictionary keys would cause issues of duplication/overwriting

# answer:
grades = {'Juan': {'Maths': 2},
          'John': {'History': 1, 'Biology': 3},
          'Gianni': {'Biology': 1}}

grades['Juan']['History'] = 2
grades['Juan']['Biology'] = 1

grades['John']['Maths'] = 1

grades['Gianni']['History'] = 4
grades['Gianni']['Maths'] = 3

print(grades)

# check the results with the solution
check = {'Juan': {'Maths': 2, 'History': 2, 'Biology': 1}, 'John': {'History': 1, 'Biology': 3, 'Maths': 1}, 'Gianni': {'Biology': 1, 'History': 4, 'Maths': 3}}

grades == check

{'Juan': {'Maths': 2, 'History': 2, 'Biology': 1}, 'John': {'History': 1, 'Biology': 3, 'Maths': 1}, 'Gianni': {'Biology': 1, 'History': 4, 'Maths': 3}}

True

In [35]:
# BONUS - Rosalind DNA, but use a dictionary format

# input
#AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGC
#s = str(input('DNA string:'))
s = 'AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGC'

s_dic = {'A': s.count('A'),
         'C': s.count('C'),
         'G': s.count('G'),
         'T': s.count('T')
        }
         
print(s_dic)

{'A': 20, 'C': 12, 'G': 17, 'T': 21}

20

In [46]:
# Consider this syntax:
a = {'name' : 'John', 'age' : '20'}
b = {'name' : 'May', 'age' : '23'}
customers = {'c1' : a, 'c2' : b}
#what will be a correct syntax for printing the name ‘May’?
print(customers['c2']['name'])

May