# For Loops

## Theory

In [ ]:
# general structure:
# for <loop variable> in <collection>:
#     <body> # indented, starting with the same first letter position as the variable above

In [32]:
# simple example
for number in [2, 3, 5]:
    print(number)

2
3
5

In [33]:
# more complex example
primes = [2, 3, 5]
for p in primes:
    squared = p ** 2
    cubed = p ** 3
    print(p, squared, cubed)

2 4 8
3 9 27
5 25 125

In [36]:
print('a range is not a list: range(0, 3)')
for number in range(0, 3):
    print(number)

a range is not a list: range(0, 3)
0
1
2

In [43]:
# Sum the first 10 integers.
total = 0
for number in range(10):
   total = total + (number + 1)
print(total)

55

In [ ]:
#an indentation error is a syntax error, not a runtime error, thus programme will not even start

## Miscellaneous

In [7]:
for num in [1, 2, 3, 4, 5]:
    print(num)

1
2
3
4
5

In [10]:
s = "the quick brown fox jumps over the lazy dog"

for character in s:
    print(character)

print()

for string in s.split():
    print(string)

t
h
e

q
u
i
c
k

b
r
o
w
n

f
o
x

j
u
m
p
s

o
v
e
r

t
h
e

l
a
z
y

d
o
g

the
quick
brown
fox
jumps
over
the
lazy
dog

In [18]:
alphabet = ['a', 'b', 'c']
numbers = [1, 2, 3]
words = ['hello', 'day', 'sun']

for i, letter in enumerate(alphabet):
    print(i, letter, numbers[i], words[i])

0 a 1 hello
1 b 2 day
2 c 3 sun

## Exercises

In [45]:
# Create a table showing the numbers of the lines that are executed when this program runs, and the values of the variables after each line is executed.
total = 0

for char in "tin":
    total = total + 1
    
print(total)
    
# 1st iteration
# for 0 in 't':
#     total = 0 + 1

# 2nd iteration
# for 1 in 'i':
#     total = 1 + 1

# 3rd iteration
# for 2 in 'n':
#     total = 2 + 1

# total = 3

# alternatively:
# line number | variable
# 1           | total = 0
# 2           | total = 0, char = 't'
# 3           | total = 1, char = 't'
# 2           | total = 1, char = 'i'
# 3           | total = 2, char = 'i'
# 2           | total = 2, char = 'n'
# 3           | total = 3, char = 'n'

3

In [47]:
# Fill in the blanks in the program below so that it prints “nit” (the reverse of the original character string “tin”).

# original:
# original = "tin"
# result = ____
# for char in original:
#     result = ____
# print(result)

original = "tin"
result = ''

for char in original:
    result = char + result
    
print(result)

nit

In [48]:
# Fill in the blanks in each of the programs below to produce the indicated result.

# original: 
# total = 0
# for word in ["red", "green", "blue"]:
#     ____ = ____ + len(word)
# print(total)

# Total length of the strings in the list: ["red", "green", "blue"] => 12
total = 0

for word in ["red", "green", "blue"]:
    total = total + len(word)
    
print(total)

12

In [56]:
# Fill in the blanks in each of the programs below to produce the indicated result.

# original: 
# lengths = ____
# for word in ["red", "green", "blue"]:
#     lengths.____(____)
# print(lengths)

# List of word lengths: ["red", "green", "blue"] => [3, 5, 4]
lengths = []

for word in ["red", "green", "blue"]:
    lengths.append(len(word))
    
print(lengths)

[3, 5, 4]

In [57]:
# # Fill in the blanks in each of the programs below to produce the indicated result.

# original: 
# words = ["red", "green", "blue"]
# result = ____
# for ____ in ____:
#     ____
# print(result)

# Concatenate all words: ["red", "green", "blue"] => "redgreenblue"
words = ["red", "green", "blue"]
result = ''

for word in words:
    result = result + word
    
print(result)

redgreenblue

In [63]:
# Create an acronym: Starting from the list ["red", "green", "blue"], create the acronym "RGB" using a for loop.
# Hint: You may need to use a string method to properly format the acronym.
colours = ['red', 'green', 'blue']
acronym = ''

for colour in colours:
    acronym = acronym + colour[0].upper()
    
print(acronym)

RGB

In [64]:
# Reorder and properly indent the lines of code below so that they print a list with the cumulative sum of data. The result should be [1, 3, 5, 10].

# original:
# cumulative.append(total)
# for number in data:
# cumulative = []
# total = total + number
# total = 0
# print(cumulative)
# data = [1,2,2,5]

data = [1,2,2,5]
total = 0
cumulative = []

for number in data:
    total = total + number
    cumulative.append(total)

print(cumulative)

[1, 3, 5, 10]

In [68]:
# Read the code below and try to identify what the errors are without running it.
# Run the code and read the error message. What type of NameError do you think this is? Is it a string with no quotes, a misspelled variable, or a variable that should have been defined but was not?
# Fix the error.
# Repeat steps 2 and 3, until you have fixed all the errors.

# original:
# for number in range(10):
#     # use an if the number is a multiple of 3, otherwise use b
#     if (Number % 3) == 0:
#         message = message + a
#     else:
#         message = message + "b"
# print(message)

message = ''
for number in range(10): # number = 0, ..., 9
    # use an if the number is a multiple of 3, otherwise use b
    if (number % 3) == 0: # if possible to divide by 3 and there is no residue (is a multiplier of 3), then:
        message = message + 'a' # add 'a' to 'message'
    else: # otherwise:
        message = message + "b" # add "b" to 'message'
print(message) # print 'message'

# answer: variable 'number' is not properly used within the if statement - it should be 'number' in lowercase, just like defined in the loop; we lack 'message' accumulator variable; variable 'a' is not defined or should be a string like it is in the case of "b" sring
# answer: NameError of 'Number' due to not matching characters defying the 'number' variable in the loop
# answer: NameError of 'message' variable, it is supposed to be an accumulator variable, although it is not defined before the loop
# answer: NameError of 'a' variable, it is most likely supposed to be a string instead of a variable, just like it is in "else" case with "b" string

abbabbabba

In [73]:
# Read the code below and try to identify what the errors are without running it.
# Run the code, and read the error message. What type of error is it?
# Fix the error.

# original: 
# seasons = ['Spring', 'Summer', 'Fall', 'Winter']
# print('My favorite season is ', seasons[4])

seasons = ['Spring', 'Summer', 'Fall', 'Winter']
print('My favorite season is', seasons[3])

# answer: if we decide to go for a comma in the print function after the string that we want to print, we do not need to include space at the end of the string, since by using a comma, the space is automatically included and thus becomes redundat in our case; fetching the 4th item is not done via accessing the same index number, since the index numebring starts from 0, thus using "4" as an index value would include the fifth item, which does not exist in our case and it results in an "out-of-bounds" error - it should be an index with a value of 3

My favorite season is Winter