# For Loops

## Theory

In [ ]:
# general structure:
# for <loop variable> in <collection>:
#     <body> # indented, starting with the same first letter position as the variable above

In [21]:
# use len()
student_numbers = { 'Bioscience Technology': 16, 
                    'Computational Biology': 12,
                    'Post-Genomic Biology': 20,
                    'Ecology and Environmental Management': 3,
                    'Maths in the Living Environment': 0
                  }

print('#students:', student_numbers)
print('length:', len(student_numbers))
print()
print('#students in Bioscience Technology:', student_numbers['Bioscience Technology'])
print('#students in Post-Genomic Biology:', student_numbers['Post-Genomic Biology'])
print() 
print('#students in Bioscience Technology:', student_numbers.get('Bioscience Technology')) # alternatively

#students: {'Bioscience Technology': 16, 'Computational Biology': 12, 'Post-Genomic Biology': 20, 'Ecology and Environmental Management': 3, 'Maths in the Living Environment': 0}
length: 5

#students in Bioscience Technology: 16
#students in Post-Genomic Biology: 20

#students in Bioscience Technology: 16

## Miscellaneous

In [7]:
for num in [1, 2, 3, 4, 5]:
    print(num)

1
2
3
4
5

In [10]:
s = "the quick brown fox jumps over the lazy dog"

for character in s:
    print(character)

print()

for string in s.split():
    print(string)

t
h
e

q
u
i
c
k

b
r
o
w
n

f
o
x

j
u
m
p
s

o
v
e
r

t
h
e

l
a
z
y

d
o
g

the
quick
brown
fox
jumps
over
the
lazy
dog

In [18]:
alphabet = ['a', 'b', 'c']
numbers = [1, 2, 3]
words = ['hello', 'day', 'sun']

for i, letter in enumerate(alphabet):
    print(i, letter, numbers[i], words[i])

0 a 1 hello
1 b 2 day
2 c 3 sun

## Exercises