# Python Course by w3schools

## get started

In [1]:
# What is the correct file extension for Python files?
#.py

In [2]:
#What is a correct command line syntax for checking if python is installed on your computer? (And also to check the Python version)
#python --version

In [3]:
# What is a correct syntax to exit the Python command line interface?
#exit()

## syntax

In [4]:
# True or False: Indentation in Python is for readability only.
#False

In [5]:
# Insert the missing part of the code below to output "Hello World".
# _____("Hello World")
print("Hello World")

Hello World

In [6]:
#Complete the code block, print "YES" if 5 is larger than 2. Hint: remember the indentation.
if 5 > 2:
    print("YES")

YES

## comments

In [7]:
# Which character is used to define a Python comment:
#

In [8]:
# Comments in Python are written with a special character, which one?
# _This is a comment
#This is a comment

In [9]:
# Use a multiline string to make the a multiline comment:
# ___
# This is a comment
# written in 
# more than just one line
# ___

'''
This is a comment
written in 
more than just one line
'''

'\nThis is a comment\nwritten in \nmore than just one line\n'

## variables

In [10]:
# What is a correct way to declare a Python variable?
x = 5

In [11]:
# True or False:
# You can declare string variables with single or double quotes.
x1 = "John"
# is the same as
x2 = 'John'

x1 == x2

True

In [12]:
# True or False:
# Variable names are not case-sensitive.
a = 5
# is the same as
A = 5

# False

In [13]:
# Select the correct functions to print the data type of a variable:
# _____(____(myvar))
myvar = 'str'
print(type(myvar))

<class 'str'>

## variable names

In [14]:
# Which is NOT a legal variable name?
my-var = 20

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (58590186.py, line 2)

In [ ]:
# Create a variable named carname and assign the value Volvo to it.
carname = 'Volvo'

In [ ]:
# Create a variable named x and assign the value 50 to it.
x = 50

## multiple variable values

In [ ]:
# What is a correct syntax to add the value 'Hello World', to 3 variables in one statement?
x = y = z = 'Hello World'

In [ ]:
# Insert the correct syntax to assign values to multiple variables in one line:
x, y, z = "Orange", "Banana", "Cherry"

In [ ]:
# Consider the following code:
fruits = ['apple', 'banana', 'cherry']
a, b, c = fruits
print(a)
# What will be the result of a

## output variable

In [ ]:
# Consider the following code:
print('Hello', 'World')
# What will be the printed result?

In [ ]:
# Consider the following code:
a = 'Hello'
b = 'World'
print(a + b)
# What will be the printed result?

In [ ]:
# Consider the following code:
a = 4
b = 5
print(a + b)
# What will be the printed result?

## global variable

In [ ]:
# Consider the following code:
x = 'awesome'
def myfunc():
  x = 'fantastic'
myfunc()
print('Python is ' + x)
# What will be the printed result?

In [ ]:
# Insert the correct keyword to make the variable x belong to the global scope.
# def myfunc():
#     ______ x
#     x = "fantastic"

def myfunc():
    global x
    x = "fantastic"

In [ ]:
# Consider the following code:
# x = 'awesome'
# def myfunc():
#     global x
#     x = 'fantastic'
# myfunc()
# print('Python is ' + x)
# What will be the printed result?

x = 'awesome'
def myfunc():
    global x
    x = 'fantastic'
myfunc()
print('Python is ' + x)

## data types

In [ ]:
# If x = 5, what is a correct syntax for printing the data type of the variable x?
x = 5
print(type(x))

In [ ]:
# The following code example would print the data type of x, what data type would that be?
x = 5
print(type(x))

In [ ]:
# The following code example would print the data type of x, what data type would that be?
x = "Hello World"
print(type(x))

In [ ]:
# The following code example would print the data type of x, what data type would that be?
x = 20.5
print(type(x))

In [ ]:
# The following code example would print the data type of x, what data type would that be?
x = ["apple", "banana", "cherry"]
print(type(x))

In [ ]:
# The following code example would print the data type of x, what data type would that be?
x = ("apple", "banana", "cherry")
print(type(x))

In [ ]:
# The following code example would print the data type of x, what data type would that be?
x = {"name" : "John", "age" : 36}
print(type(x))

In [ ]:
# The following code example would print the data type of x, what data type would that be?
x = True
print(type(x))

## numbers

In [ ]:
# Which is NOT a legal numeric data type in Python:
#long

In [ ]:
# Insert the correct syntax to convert x into a floating point number.
# x = 5
# x = _____(x)

x = 5
x = float(x)
print(x)

In [ ]:
# Insert the correct syntax to convert x into a integer.
# x = 5.5
# x = int(x)

x = 5.5
x = int(x)
print(x)

In [ ]:
# Insert the correct syntax to convert x into a complex number.
# x = 5
# x = _______(x)

x = 5
x = complex(x)
print(x)

## casting

In [ ]:
# What will be the result of the following code:
print(int(35.88))

In [ ]:
# What will be the result of the following code:
print(float(35))

In [ ]:
# What will be the result of the following code:
print(str(35.82))

## strings

In [ ]:
# What will be the result of the following code:
x = 'Welcome'
print(x[3])

In [ ]:
# Use the len function to print the length of the string.
# x = "Hello World"
# print(___(X))

x = "Hello World"
print(len(x))

In [ ]:
# Get the first character of the string txt.
# txt = "Hello World"
# x = ______

txt = "Hello World"
x = txt[0]
print(x)

In [ ]:
# Insert the correct keyword to check if the word 'free' is present in the text:

# txt = 'The best things in life are free!'
# if 'free' __ txt:
#   print('Yes, free is present in the text.')

txt = 'The best things in life are free!'
if 'free' in txt:
  print('Yes, free is present in the text.')

## slicing strings

In [ ]:
# What will be the result of the following code:
x = 'Welcome'
print(x[3:5])

In [ ]:
# Get the characters from index 2 to index 4 (llo).
# txt = "Hello World"
# x = txt[2:5]

txt = "Hello World"
x = txt[2:5]
print(x)

In [ ]:
# What will be the result of the following code:
x = 'Welcome'
print(x[3:])

## modify strings

In [ ]:
# What is a correct syntax to print a string in upper case letters?
'Welcome'.upper()

In [ ]:
# Return the string without any whitespace at the beginning or the end.
# txt = " Hello World "
# x = ___________

txt = " Hello World "
x = txt.strip()
print(x)

In [ ]:
# Convert the value of txt to upper case.
# txt = "Hello World"
# txt = ___________

txt = "Hello World"
txt = txt.upper()
print(txt)

In [ ]:
# Convert the value of txt to lower case.
# txt = "Hello World"
# txt = _________()

txt = "Hello World"
txt = txt.lower()
print(txt)

In [ ]:
# Replace the character H with a J.
# txt = "Hello World"
# txt = txt._______(___, ___)

txt = "Hello World"
txt = txt.replace('H', 'J')
print(txt)

## concatenate strings

In [ ]:
# What is a correct syntax to merge variable x and y into variable z?
z = x + y

In [ ]:
# What will be the result of the following code:
x = 'Welcome'
y = 'Coders'
print(x + y)

In [ ]:
# Consider this code:
a = 'Join'
b = 'the'
c = 'party'
# What is a correct syntax to print 'Join the party'?

print(a + ' ' + b + ' ' + c)

## format strings

In [ ]:
# If x = 9, what is a correct syntax to print 'The price is 9.00 dollars'?
x = 9
print(f'The price is {x:.2f} dollars')

In [ ]:
#age = 36
#txt = f"My name is John, and I am _____"
#print(txt)

age = 36
txt = f"My name is John, and I am {age}"
print(txt)

In [ ]:
# What will be the result of the following code:
print(f'The price is {2 + 3} dollars')

## booleans

In [ ]:
# What will be the result of the following code:
print(5 > 3)

In [ ]:
# The statement below would print a Boolean value, which one?
print(10 > 9)

In [ ]:
# The statement below would print a Boolean value, which one?
print(10 == 9)

In [ ]:
# The statement below would print a Boolean value, which one?
print(10 < 9)

In [ ]:
# The statement below would print a Boolean value, which one?
print(bool("abc")) #if bool is empty = False

In [ ]:
# The statement below would print a Boolean value, which one?
print(bool(0)) #0 = False; >0 = True

## arithmetic operators

In [ ]:
# What is the result of 15 % 4?
15 % 4

In [ ]:
# Which operator is used for exponentiation in Python?
2 ** 2

In [ ]:
# What is the difference between / and // operators?
# / returns a float, // returns an integer

In [ ]:
# Multiply 10 with 5, and print the result.
10 * 5

In [ ]:
# Divide 10 by 2, and print the result.
10 / 2

## assignment operators

In [ ]:
# What will be the value of x after this code?
x = 10
x += 5
print(x)

In [ ]:
# Which operator assigns a value to a variable AND uses it in an expression?
# :=, but not sure how to use it appropriately

In [ ]:
# What will be the result of the following syntax:
x = 5
x += 3
print(x)

In [ ]:
# What does x *= 3 mean?
x = 5
x *= 3
print(x)

## comparison operators

In [ ]:
# What is the result of 5 == 5?
5 == 5

In [ ]:
# Which operator checks if two values are NOT equal?
1 != 3

In [ ]:
# What does the expression 1 < x < 10 check?
x = 5
1 < x < 10

In [ ]:
# Use the correct comparison operator to check if 5 is not equal to 10.
if 5 != 10:
  print("5 and 10 is not equal")

## logical operators

In [ ]:
# What is the result of 5 < 7 and 5 > 7?
5 < 7 and 5 > 7

In [ ]:
# What is the result of 5 < 7 or 5 > 7?
5 < 7 or 5 > 7

In [ ]:
# What does the "not" operator do?
# negation of a boolean value

In [ ]:
#Use the correct logical operator to check if at least one of two statements is True.
if 5 == 10 or 4 == 4:
  print("At least one of the statements is true")

## lists

In [16]:
# What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
print(mylist[1])

# answer: banana

banana

In [17]:
# What will be the result of the following syntax:
mylist = ['apple', 'banana', 'banana', 'cherry']
print(mylist[2])

# answer: banana

banana

In [ ]:
# True or False.
# List items cannot be removed after the list has been created.
# answer: False

In [22]:
# Select the correct function for returning the number of items in a list:
# thislist = ['apple', 'banana', 'cherry']
# print(_____(thislist))

# answer:
thislist = ['apple', 'banana', 'cherry']
print(len(thislist))

3

## access lists

In [21]:
# What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
print(mylist[-1])

# answer: cherry

cherry

In [19]:
# Print the second item in the fruits list.
# fruits = ["apple", "banana", "cherry"]
# print(_____)

# answer:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [20]:
# What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry', 'orange', 'kiwi']
print(mylist[1:4])

# answer: ['banana', 'cherry', 'orange']

['banana', 'cherry', 'orange']

In [24]:
# Use a range of indexes to print the third, fourth, and fifth item in the list.
# fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
# print(fruits[___])

# answer:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

## change lists

In [ ]:
# What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
mylist[0] = 'kiwi'
print(mylist[1])

# answer: banana

In [25]:
# What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
mylist[0] = 'kiwi'
print(mylist[1])

# answer: banana

banana

In [27]:
# Change the value from "apple" to "kiwi", in the fruits list.
# fruits = ["apple", "banana", "cherry"]
# ___ = ___

# answer:
fruits = ["apple", "banana", "cherry"]
fruits[0] = 'kiwi'
print(fruits)

['kiwi', 'banana', 'cherry']

In [ ]:
# What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
mylist[1:2] = ['kiwi', 'mango']
print(mylist[2])

# answer: mango

## add list items

In [30]:
# What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
mylist.insert(0, 'orange')
print(mylist[:])
print(mylist[1])

# answer: apple

['orange', 'apple', 'banana', 'cherry']
apple

In [31]:
# Use the append method to add "orange" to the fruits list.
# fruits = ["apple", "banana", "cherry"]
# _______

# answer:
fruits = ["apple", "banana", "cherry"]
fruits.append('orange')
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [32]:
# Use the insert method to add "lemon" as the second item in the fruits list.
# fruits = ["apple", "banana", "cherry"]
# ____ "lemon")

# answer:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [ ]:
# Select the missing parts to add the elements of tropical to fruits:
# fruits = ['apple', 'banana', 'cherry']
# tropical = ['mango', 'pineapple', 'papaya']
# ____._____(_____)

# answer:
fruits = ['apple', 'banana', 'cherry']
tropical = ['mango', 'pineapple', 'papaya']
fruit.extend(tropical)

## remove list items

In [ ]:
# What is a List method for removing list items?
# pop()
# push()
# delete()

# answer: pop()

In [37]:
# Use the remove method to remove "banana" from the fruits list.
# fruits = ["apple", "banana", "cherry"]
# ____

# answer: 
fruits = ["apple", "banana", "cherry"]
fruits.remove('banana')
print(fruits)

# or alternatively:
fruits = ["apple", "banana", "cherry"]
del fruits[1]
print(fruits)

['apple', 'cherry']
['apple', 'cherry']

In [38]:
# What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
mylist.pop(1)
print(mylist)

# answer: ['apple', 'cherry']

['apple', 'cherry']

In [39]:
# Select the correct function to remove all items from a list:
# fruits = ['apple', 'banana', 'cherry']
# fruits._____

# answer:
fruits = ['apple', 'banana', 'cherry']
fruits.clear()

## loop lists

In [ ]:
# What is a correct syntax for looping through the items of a list?
# for x in ['apple', 'banana', 'cherry']:
#   print(x)
# for x in ['apple', 'banana', 'cherry']
#   print(x)
# foreach x in ['apple', 'banana', 'cherry']
#   print(x)

# answer: 
# for x in ['apple', 'banana', 'cherry']:
#   print(x)

In [42]:
# Insert the missing part of the while loop below to loop through the items of a list.
# mylist = ['apple', 'banana', 'cherry']
# i = 0
# ___i < ___ (mylist):
#   print(mylist[i])
#   i = i + 1

# answer:
mylist = ['apple', 'banana', 'cherry']
i = 0

while i < len(mylist):
  print(mylist[i])
  i = i + 1

apple
banana
cherry

In [50]:
# What is a correct syntax for looping through the items of a list?
# print(x) for x in ['apple', 'banana', 'cherry']
# [print(x) for x in ['apple', 'banana', 'cherry']]
# for x in ['apple', 'banana', 'cherry'] print(x)

# answer: [print(x) for x in ['apple', 'banana', 'cherry']]
[print(x) for x in ['apple', 'banana', 'cherry']]

apple
banana
cherry
apple
banana
cherry

## list comprehension

In [ ]:
# Consider the following code:
fruits = ['apple', 'banana', 'cherry']
newlist = [x for x in fruits if x == 'banana']
# What will be the value of newlist?
# ['apple', 'cherry']
# ['banana']
# True

# answer: ['banana']

In [52]:
# Fill in the missing parts to complete the list comprehension:
# fruits = ["apple", "banana", "cherry"]
# newlist = [x ___ x ___ fruits]

# answer:
fruits = ["apple", "banana", "cherry"]
newlist = [x for x  in fruits]
print(newlist)

['apple', 'banana', 'cherry']

In [ ]:
# Consider the following code:
fruits = ['apple', 'banana', 'cherry']
newlist = ['apple' for x in fruits]
# What will be the value of newlist?
# ['apple', 'apple', 'apple']
# ['apple']
# True

# answer: ['apple', 'apple', 'apple']

## sort lists

In [ ]:
# What is a correct syntax for sorting a list?
# mylist.orderby(0)
# mylist.order()
# mylist.sort()

# answer: mylist.sort()

In [ ]:
# What is a correct syntax for reversing the current order of a list?
# mylist.sort(-1)
# mylist.sort(reverse = True)
# mylist.reverse()

# answer: mylist.reverse()

In [53]:
#What is a correct syntax for sorting a list descending?
# mylist.sort(-1)
# mylist.sort(reverse = True)
# mylist.sort('desc')

# answer: mylist.sort(reverse = True)

## copy lists

In [ ]:
# What is a correct syntax for making a copy of a list?
# list2 = list1
# list2 = list1.copy()
# list2.copy(list1)

# answer: list2 = list1.copy()

In [ ]:
# What is a correct syntax for making a copy of a list?
# list2 = list1
# list2 = list1.list()
# list2 = list(list1)

# answer: list2 = list(list1)

In [ ]:
# What is a correct syntax for making a copy of a list?
# list2 = list1[:]
# list2 = list1[]
# list2 = list1[-1]

# answer: list2 = list1[:]

## join lists

In [ ]:
# What is a correct syntax for joining list1 and list2 into list3?
# list3 = join(list1, list2)
# list3 = list1 + list2
# list3 = [list1, list2]

# answer: list3 = list1 + list2

In [ ]:
# What is a correct syntax for adding elements from list2 into list1?
# list1.extend(list2)
# list1.join(list2)
# list1.push(list2)

# answer: list1.extend(list2)

In [ ]:
# Consider the following code:
list1 = ['a', 'b' , 'c']
list2 = [1, 2, 3]
for x in list2:
  list1.append(x)
# What will be the value of list1?
# ['a', 'b', 'c', 1, 2, 3]
# [1, 2, 3]
# ['a', 1, 'b', 2, 'c', 3]

# answer: ['a', 'b', 'c', 1, 2, 3]

## dictionaries

In [ ]:
# Which one of these is a dictionary?

# answer:
x = {'type' : 'fruit', 'name' : 'banana'}

In [ ]:
# True or False.
# Dictionary items cannot be removed after the dictionary has been created.
# answer: False

In [ ]:
# True or False.
# A dictionary cannot have two keys with the same name.                           
# answer: True

In [ ]:
#Select the correct function to print the number of key/value pairs in the dictionary:
x = {'type' : 'fruit', 'name' : 'banana'}
#print(___(x))

# answer:
print(len(x))

## access dictionaries

In [ ]:
# True or False. 
# You can access item values by referring to the key name.
# answer: True

In [ ]:
# Use the get method to print the value of the "model" key of the car dictionary.
# car =	{
#   "brand": "Ford",
#   "model": "Mustang",
#   "year": 1964
# }
# print(___________)

car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# answer:
print(car.get('model'))

# or
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# answer:
print(car['model'])

In [ ]:
# Consider the following code:
x = {'type' : 'fruit', 'name' : 'banana'}
print(x['type'])
# What will be the printed result?

# answer: fruit

## change dictionaries

In [ ]:
# Consider the following code:
x = {'type' : 'fruit', 'name' : 'banana'}
# What is a correct syntax for changing the type from fruit to berry?

# answer: 
x['type'] = 'berry' 
print(x)
# or
x = {'type' : 'fruit', 'name' : 'banana'}
x.update({'type': 'berry'})
print(x)

In [ ]:
# Change the "year" value from 1964 to 2020.
# car =	{
#   "brand": "Ford",
#   "model": "Mustang",
#   "year": 1964
# }
#  = 

car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# answer:
car['year'] = 2020
print(car)

# or
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# answer:
car.update({'year': 2020})
print(car)

In [ ]:
# Consider the following code:
x = {'type' : 'fruit', 'name' : 'banana'}
# What is a correct syntax for changing the name from banana to apple?

# answer:
x['name'] = 'apple'
print(x)

# or
x = {'type' : 'fruit', 'name' : 'banana'}

# answer:
x.update({'name': 'apple'})
print(x)

## add dictionary items

In [ ]:
# Which one of these dictionary methods can be used to add items to a dictionary?
#add()
#insert()
#update()

# answer: update()

In [ ]:
# Add the key/value pair "color" : "red" to the car dictionary.
# car =	{
#   "brand": "Ford",
#   "model": "Mustang",
#   "year": 1964
# }
# _______ _ _____

# answer:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car['color'] = 'red'
print(car)

# or answer:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({'color': 'red'})
print(car)

In [ ]:
# Insert the missing part to add an item to the dictionary.
# x = {'type' : 'fruit', 'name' : 'apple'}
# x.___(_'color'_ 'green'_)

# answer:
x = {'type' : 'fruit', 'name' : 'apple'}
x.update({'color' : 'green'})
print(x)

## remove dictionary items

In [ ]:
# What is a dictionary method for removing an item from a dictionary?
# delete()
# remove()
# pop()

# answer: pop()

In [ ]:
# Use the pop method to remove "model" from the car dictionary.
# car =	{
#   "brand": "Ford",
#   "model": "Mustang",
#   "year": 1964
# }
# ________

# answer:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop('model')
print(car)

In [ ]:
# Use the clear method to empty the car dictionary.
# car =	{
#   "brand": "Ford",
#   "model": "Mustang",
#   "year": 1964
# }
# _________

# answer:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()
print(car)

In [ ]:
# Insert a correct syntax for removing the 'color' item of the dictionary:
# myvar = {'type' : 'fruit', 'name' : 'apple', 'color' : 'red'}
# ____myvar[_____]

# answer:
myvar = {'type' : 'fruit', 'name' : 'apple', 'color' : 'red'}
del myvar['color']
print(myvar)

## loop dictionaries

In [ ]:
#What is a correct syntax for looping through the values of this dictionary:
x = {'type' : 'fruit', 'name' : 'apple'}

# answer:
for n in x.values():
    print(n)

In [ ]:
# What is a correct syntax for looping through the keys AND values of this dictionary:
x = {'type' : 'fruit', 'name' : 'apple'}

# answer:
for a, b in x.items():
    print(a, b)

In [ ]:
# Insert the missing part of the for loop below to loop through the items of a set. 
# myset = {'apple', 'banana', 'cherry'}
# ___x ___mmyset:
#   print(x)

# answer:
myset = {'apple', 'banana', 'cherry'}
for x in myset:
  print(x)

In [ ]:
# What is a correct syntax for looping through the keys of this dictionary:
x = {'type' : 'fruit', 'name' : 'apple'}

# answer:
for n in x.keys():
    print(n)

## copy dictionaries

In [ ]:
# What is a correct syntax for making a copy of this dictionary:
x = {'type' : 'fruit', 'name' : 'apple'}

# answer:
y = x.copy()
print(y)

In [ ]:
# One of these codes is NOT a correct way of making a copy of a dictionary named x, which one:
# y = dict(x)
# y = x.duplicate()
# y = x.copy()

# answer: y = x.duplicate()

In [ ]:
# True or False. 
# Copied dictionaries will not be able to change its item values.
# answer: False

## nested directories

In [ ]:
#Consider this syntax:
a = {'name' : 'John', 'age' : '20'}
b = {'name' : 'May', 'age' : '23'}
customers = {'c1' : a, 'c2' : b}
#what will be a correct syntax for printing the name 'May'?

# answer:
print(customers['c2']['name'])

In [ ]:
# Insert the missing part to loop through the keys and values of all nested dictionaries:
# a = {'name' : 'John', 'age' : 20}
# b = {'name' : 'May', 'age' : 23}
# customers = {'c1' : a, 'c2' : b}
# for x, obj in customers.________:
#   print(x)
    
#   for y in obj:
#     print(y + ':', obj[y])

# answer:
a = {'name' : 'John', 'age' : 20}
b = {'name' : 'May', 'age' : 23}
customers = {'c1' : a, 'c2' : b}
for x, obj in customers.items():
  print(x)
    
  for y in obj:
    print(y + ':', obj[y])

In [ ]:
# True or False. 
# A dictionary can only have one level of nested dictionaries.
# answer: False